

    <header>
        <section class="wrapper">
            <nav>
                <ul>
                    <li><a href="reuniones">Inicio</a></li>
                    <li><a href="crear-reunion">Crear Reunión</a></li>
                    <li><a href="login">Log out</a></li>
                </ul>
            </nav>
        </section>
    </header>
    
<div class="container">
    <br><br><br><br>
        <form>
            <div class="form-group">
              <label for="Nombre reunión">Nombre reunión</label>
              <input type="text" class="form-control">
            </div>
            <br> <br>
            <div class="form-group">
                <label for="Descripcion">Descripcion</label>
                <textarea class="form-control form-control-lg"></textarea>
            </div>
            <br> <br>
            <div class="row">
                <div class="col">
                    <label for="Fecha">Fecha</label>
                    <input type="date" class="form-control" name="Fecha">
                </div>
                <div class="col">
                    <label for="horaInicio">Hora inicio</label>
                    <input type="time" class="form-control" name="Hora inicio">
                </div>
                <div class="col">
                    <label for="horaFin">Hora fin</label>
                    <input type="time" class="form-control" name="Hora fin">
                </div>
            </div>
            <br> <br>
            <div class="form-group">
                <label for="asistentes">Asistentes</label>
                <select class="custom-select" id="asistentes" required>
                  <option selected disabled value="">Elige...</option>
                  <option>...</option>
                </select>
                <div class="invalid-feedback">
                    Por favor elija un asistente
                </div>
            </div>

        </form>
        <br>

    <button type="submit" (click)="crear_reunion()">Crear reunión</button>
</div>