<header>
    <section class="wrapper">
        <nav>
            <ul>
                <li><a href="reuniones">Inicio</a></li>
                <li><a href="crear-reunion">Crear Reunión</a></li>
                <li><a href="login">Log out</a></li>
            </ul>
        </nav>
    </section>
  </header>

<div class="jumbotron jumbotron-fluid">
    <div style="text-align: center;">
        <div class="container">
        <h1 class="display-10">CREAR REUNIÓN</h1>
        </div>
    </div>
  </div>

  
<div class="container">
    
        <form>
            <div class="form-group">
              <label for="temas">Nombre reunión</label>
              <br>
              <input type="temas"
              [(ngModel)]="temas"
              name="temas"
              required="temas"/>
            </div>

            <div class="form-group">
                <label for="descripcion">Descripcion</label>
                <br>
                <input type="descripcion"
                [(ngModel)]="descripcion"
                name="descripcion"
                required="descripcion"/>
            </div>

           
            <div class="row">
                <div class="col">
                    <label for="horaInicio">Hora inicio</label>
                    <input type="datetime-local" class="form-control" [(ngModel)]="horaInicio" name="horaInicio" required="horaInicio">
                </div>
                <div class="col">
                    <label for="horaFin">Hora fin</label>
                    <input type="datetime-local" class="form-control" [(ngModel)]="horaFin" name="horaFin" required="horaFin">
                </div>
            </div>
            <br>
            <div class="form-group">
                <label for="asistentes">Asistentes</label>
                <select class="custom-select" id="asistentes" required>
                    <option selected disabled value="">Elige...</option>
                    <option
                     *ngFor= "let usuariosRegistrado of usuariosRegistrados"
                     [value]= "usuariosRegistrado.username"
                    >
                    {{usuariosRegistrado.username}}
                    </option>
                  </select>
                <div class="invalid-feedback">
                    Por favor elija un asistente
                </div>
            </div>

            <div class="form-group">
                <label for="convocante"> <strong>Convocante: {{nombreUsuario}}</strong></label>
            </div>

            <input type="reset" value="Borrar información">
            <br>
        </form>
   
    <br>
    <button type="submit" (click)="reunion()">Crear reunión</button>
   
</div>

       


