<html>
    <head>
        <title>
            Formulario de registro
        </title>
    </head>

<div class="container">
    <body>
        <section>
           
            <div class="jumbotron jumbotron-fluid">
                <div style="text-align: center;">
                    <div class="container">
                    <h1 class="display-10">Formulario de registro</h1>
                    </div>
                </div>
            </div>
            <label>Nombre:</label> 
                <input type="text" name="Nombre" id="Nombres" placeholder="Ingrese su nombre">  <br>

            <label>Apellidos:</label>
                <input type="text" name="Apellidos" id="Apellidos" placeholder="Ingrese sus apellidos"> <br>

            <label>Nombre de usuario:</label> 
                <input type="text" name="Nombre de usuario" id="Nombres" placeholder="Ingrese su nombre de usuario">  <br>

            <label>Correo electronico:</label>
                <input type="email" name="Correo electronico" id="Correo" placeholder="Ingrese su correo electronico"> <br>

            <label>Contraseña:</label>
                <input type="password" name="Contraseña" id="Contraseña" placeholder="Ingrese su contraseña"> <br>
        

            <p>
                Estoy de acuerdo con <a href="#">Terminos y condiciones</a>
            </p>
        
            <input type="submit" value="Resgistrar"> <br>
        
        
            <p>
                <a href="#">¿Ya tengo cuenta?</a>
            </p>

        </section>
    </body>

</div>

</html>