
<br>

<div class="row" style="margin-left: auto;">
  <table class="table table-striped">
    <thead class="reunionesTableHead">
      <tr>
        <th scope="col" sortable="temas">Tema</th>
        <th scope="col" sortable="descripcion">Descripcion</th>
        <th scope="col" sortable="horaInicio">Hora de inicio</th>
        <th scope="col" sortable="horaFin">Hora de fin</th>
        <th scope="col" sortable="Asistentes">Asistentes</th>
        <th scope="col" sortable="Convocante">Convocante</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let reunion of reuniones">
        <td>
          {{reunion.temas}}
        </td>
        <td>
          {{ reunion.descripcion }}
        </td>
        <td>
          {{ reunion.horaInicio}}
        </td>
        <td>
          {{ reunion.horaFin }}
        </td>
        <td>
          {{ reunion.asistentes }}
        </td>
        <td>
          {{ reunion.convocante }}
        </td>    
      </tr>
      
    </tbody>
    <br>
    <br>
    
    <button type="submit" class="btn btn-primary" (click)="updateReunion()">Modificar</button>
  </table>
</div>


<div class="container">
  <br>
 
  <div class="form-group">
    <label for="temas">Nombre reunión</label>
    <br>
    <input type="temas" size="50" maxlength="100" [(ngModel)]="temas" name="temas" required="temas" />
  </div>
  <br>
  <div class="form-group">
    <label for="descripcion">Descripcion</label>
    <br>
    <input type="descripcion" size="155" maxlength="300" [(ngModel)]="descripcion" name="descripcion"
      required="descripcion" />
  </div>
  <br>
  <div class="row">
    <div class="col">
      <label for="horaInicio">Hora inicio</label>
      <input type="datetime-local" class="form-control" [(ngModel)]="horaInicio" name="horaInicio"
        required="horaInicio">
    </div>
    <div class="col">
      <label for="horaFin">Hora fin</label>
      <input type="datetime-local" class="form-control" [(ngModel)]="horaFin" name="horaFin" required="horaFin">
    </div>
  </div>

  <br>

  <div class="form-group">
    <div class="row">
      <div class="col">
        <div class="row">
          <label for="asistentes">Asistentes Disponibles</label>
          <select style="height: 200px;" class="custom-select" id="asistentes" required multiple="multiple" multiple>
            <option selected disabled value="">Elige...</option>
            <option *ngFor="let usuariosRegistrado of usuariosRegistrados, let indexOfElement = index;"
              (click)="actualizarIndexAdd(indexOfElement)" [value]="usuariosRegistrado.username">
              {{usuariosRegistrado.username}}
            </option>
          </select>
        </div>
        <div class="row">
          <button class="btn btn-primary" style="margin-top: 5px;" (click)="addAsistente()"> Añadir Asistente</button>
        </div>
        <div class="invalid-feedback">
          Por favor elija un asistente
        </div>
      </div>
      <div class="col">
        <div class="row">
          <label for="asistentes">Asistentes Añadidos</label>
          <select class="custom-select" style="height: 200px;" id="asistentes" required multiple="multiple" multiple>
            <option selected disabled value="">Asistentes elegidos...</option>
            <option *ngFor="let usuariosElegido of usuariosElegidos, let indexOfElement = index"
              (click)="actualizarIndexDelete(indexOfElement)" [value]="usuariosElegido.username">
              {{usuariosElegido.username}}
            </option>
          </select>
        </div>
        <div class="row">
          <button class="btn btn-primary" style="margin-top: 5px; " (click)="deleteAsistente()"> Eliminar
            Asistente</button>
        </div>

      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="convocante"> <strong>Convocante: {{nombreUsuario}}</strong></label>
  </div>

</div>

<br>
<br>


<!--
<div class="row" style="margin-left: auto;">
  <table class="table table-striped">
    <thead class="tareasTableHead">
      <tr>
        <th scope="col" sortable="tema">Tema</th>
        <th scope="col" sortable="descripcion">Descripcion</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let reunion of reuniones">
        <td>
          {{reunion.tema}}
        </td>
        <td>
          {{ reunion.descripcion }}
        </td>
        <td>
          <button
          class="btn btn-primary"
          type="button"
          (click)="deleteTarea(tarea._id)"
        >
          Borrar
        </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>-->
<!--
<div style="margin-left: 20px;">
  <div class="row" style="margin-left: auto;">
    <label>Datos Tarea</label>
  </div>
  <form [formGroup]="editForm">
    <div class="row">
      <div class="col-3">
        <label>ID Tarea</label>
        <input
          formControlName="id"
          class="form-control"
          placeholder="ID tarea"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <label>Contenido</label>
        <input
          formControlName="contenido"
          class="form-control"
          placeholder="Contenido tarea"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-1" style="margin-top: 5px;">
        <label>Completada?</label>
      </div>
      <div class="col-1" style="margin-top: 5px;">
        <input 
            type="checkbox"
            class="form-control"
            formControlName="completada"
          />
      </div>
    </div>
    <div class="row" style="margin-top: 5px;">
      <div class="col-1">
        <button
          class="btn btn-primary"
          type="button"
          (click)="createTarea()"
        >
          Añadir
        </button>
      </div>
      <div class="col-1">
        <button
          class="btn btn-primary"
          type="button"
          (click)="updateTarea()"
        >
          Actualizar
        </button>
      </div>
    </div>
  </form>
</div>
-->