<header>
  <section class="wrapper">
      <nav>
          <ul>
              <li><a href="reuniones">Inicio</a></li>
              <li><a href="#">Crear Reunión</a></li>
              <li><a href="login">Log out</a></li>
          </ul>
      </nav>
  </section>
</header>

<mat-card>
  <br><br><br>
  <mat-card-header>
    <mat-card-title>Reuniones del Usuario: <strong>{{nombreUsuario}}</strong></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="row">
      <div class="col">
        <full-calendar
          *ngIf='calendarVisible'
          [options]='calendarOptions'
          locale="es"
        ></full-calendar>
      </div>
      <div class="col">
        <table class="table table-striped">
          <thead class="tareasTableHead">
            <tr>
              <th scope="col" sortable="id">ID</th>
              <th scope="col" sortable="id">Tema</th>
              <th scope="col" sortable="id">Descripcion</th>
              <th scope="col" sortable="id">Fecha_Inicio</th>
              <th scope="col" sortable="id">Fecha_Fin</th>
              <th scope="col" sortable="id">Asistentes</th>
              <th scope="col" sortable="id">Convocante</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let reunion of reuniones; let indexOfelement = index">
              <td>
                {{indexOfelement}}
              </td>
              <td>
                {{reunion.temas}}
              </td>
              <td>
                {{reunion.descripcion}}
              </td>
              <td>
                {{reunion.hora_inicio}}
              </td>
              <td>
                {{reunion.hora_fin}}
              </td>
              <td>
                {{reunion.asistentes}}
              </td>
              <td>
                {{reunion.convocante}}
              </td>
            </tr>
          </tbody>
      </table>
    </div>
  </div>         
</mat-card-content>
</mat-card>

        

  