<header>
  <section class="wrapper">
      <nav>
          <ul>
              <li><a href="reuniones">Inicio</a></li>
              <li><a href="crear-reunion">Crear Reunión</a></li>
              <li><a href="login">Log out</a></li>
          </ul>
      </nav>
  </section>
</header>

<mat-card>
  <br><br><br>
  <mat-card-header>
    <mat-card-title>Reuniones del Usuario: <strong>{{nombreUsuario}}</strong></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="row">
      <div class="col-11">
        <full-calendar
          *ngIf='calendarVisible'
          [options]='calendarOptions'
          locale="es"
        ></full-calendar>
      </div>
      <div class="col" style="margin-left: 5px;">
        <div class="row">
          <label>Eliminar reunión seleccionada</label>
          <button class="btn btn-secondary" style="margin-top: 5px" (click)="onClickMe()">Eliminar</button>
        </div>
      </div>
  </div>         
</mat-card-content>
</mat-card>